.container {
  position: relative;
  text-align: center;
  color: white;
}

.container > img {
  width: 100%;
  padding: 10px;
}

.title {
  position: absolute;
  margin: auto;
  width: 90%;
  bottom: 3.5rem;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  left: 1rem;
}

.author {
  position: absolute;
  margin: auto;
  width: 90%;
  bottom: 2rem;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  left: 1rem;
}

.container:hover {
  filter: opacity(0.7);
  cursor: pointer;
}